.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.container h1 {
    text-align: center;
}

.editForm {
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}


.container button {
    padding: 0px;
}

#editMessage {
    display: flex;
}

.editForm button {
    align-content: center;
    text-align: center;
    width: 20vw;
}

