.container {
    background: darkslateblue;
    display: flex;
    max-height: 20vh;
    width: 100vw;
    max-width: 100vw;
    justify-content: space-between;
}

.container a {
    margin: 5px;
    justify-content: center;
    height: 20px;
}

.container a:hover {
    box-shadow: 0 2px 5px -2px black;
}

.user {
    background: aliceblue;
    text-transform: capitalize;
    text-align: center;
    padding: .5em;

}

.headerLogo {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    max-height: 15vh;
    flex-grow: 1;
    margin: 15px;
    align-content: center;
    justify-content: center;
    padding: 1em;
}

.links {
    display: flex;
    flex-direction: column;
    width: 8vw;

    justify-content: space-evenly;
    text-align: end;
    padding-right: 5px;
}

.links a {
    background: white;
    font-size: 1em;
}

