.container {
    max-height: 20vh;
    width: 80vw;
    max-width: 80vw;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.header {
    text-align: center;
}

.welcome p {
    text-align: center;
    font-size: 2em;
}


