.container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 20vw;
}

.container h1 {
    text-align: center;
}

.container button {
    margin-top: 5px;
}




