.container {
    display: flex;
    flex-direction: column;

}

.container table {
    background: aliceblue;
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 50vw;
    justify-content: center;
    align-content: center;
    box-shadow: 0 2px 4px -1px black;
}

.item-name {
    background-color: powderblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-size: 1.2em;
    color: teal;
}