.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.container h1 {
    text-align: center;
}

.posts {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 20vh;
    margin-left: 1em;

}

.post {
    height: 15vh;
    flex-basis: 20vw;
}

.messages {
    display: flex;
    flex-direction: column;
    flex-basis: 15vw;
    height: 15vh;
    margin-left: 1em;
}

.container table th {
    background: antiquewhite;
    color: black;
}

.container table tr {
    color: royalblue;
    border-bottom: 1px solid black;
}

.container table:last-child {
    border-bottom: 0;
}

.container table button {
    width: 20vw;
}

.container table {
    background-color: powderblue;
    color: teal;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 0 2px 4px -1px black;
    overflow-y: scroll;
}

.item-name {
    background-color: powderblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-size: 1.2em;
    color: teal;
}

.editForm {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-left: 1em;
}

.sendMessage {
    display: flex;
    flex-direction: column;
    width: 15vw;

    align-content: center;
    justify-content: center;
}

.sendMessage button {
    width: 15vw;
    margin-left: 0;


}

.container button {
    padding: 0;
}

.editForm fieldset {
    padding: 0;
}

#editMessage {
    display: flex;
}

.editForm button {
    align-content: center;
    text-align: center;
    width: 20vw;
}

